<div class="container">
    <h1> Add Credentials </h1>
    <hr/>

    <form [formGroup]="credForm" (ngSubmit)="addKeys()">
        <div class="row">
            <div class="col-md-5">
                <mat-form-field>
                    <mat-label> ID </mat-label>
                    <input matInput type="number" autocomplete="off" formControlName="id">
                </mat-form-field>
                <mat-error *ngIf="(credForm.controls['id'].hasError('required') && formSubmitted) || 
                        (credForm.get('id').invalid && credForm.get('id').touched)">
                    Enter ID
                </mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <mat-form-field>
                    <mat-label> Role </mat-label>
                    <input matInput type="text" autocomplete="off" formControlName="role">
                </mat-form-field>
                <mat-error *ngIf="(credForm.controls['role'].hasError('required') && formSubmitted) || 
                        (credForm.get('role').invalid && credForm.get('role').touched)">
                    Enter Role 
                </mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <mat-form-field>
                    <mat-label> Login Id </mat-label>
                    <input matInput type="text" autocomplete="off" formControlName="loginId">
                </mat-form-field>
                <mat-error *ngIf="(credForm.controls['loginId'].hasError('required') && formSubmitted) || 
                        (credForm.get('loginId').invalid && credForm.get('loginId').touched)">
                    Enter Login Id
                </mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <mat-form-field>
                    <mat-label> Password </mat-label>
                    <input matInput type="password" autocomplete="off" formControlName="password">
                </mat-form-field>
                <mat-error *ngIf="(credForm.controls['password'].hasError('required') && formSubmitted) || 
                        (credForm.get('password').invalid && credForm.get('password').touched)">
                    Enter Password
                </mat-error>
            </div>
        </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="credForm.invalid"> Submit </button>
    </form>

</div>
