<div class="container">
    <h3>Edit Player</h3>
    <hr/>

    <form [formGroup]="editForm" (ngSubmit)="editPlayerInfo()">
        <div class="row">
            <div class="col-md-5">
                <mat-form-field>
                    <mat-label> ID </mat-label>
                    <input matInput type="number" autocomplete="off" formControlName="id">
                </mat-form-field>
                <mat-error *ngIf="(editForm.controls['id'].hasError('required') && formSubmitted) || 
                        (editForm.get('id').invalid && editForm.get('id').touched)">
                    Enter ID
                </mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <mat-form-field>
                    <mat-label> Name </mat-label>
                    <input matInput type="text" autocomplete="off" formControlName="name">
                </mat-form-field>
                <mat-error *ngIf="(editForm.controls['name'].hasError('required') && formSubmitted) || 
                        (editForm.get('name').invalid && editForm.get('name').touched)">
                    Enter Name
                </mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <mat-form-field>
                    <mat-label> Team </mat-label>
                    <input matInput type="text" autocomplete="off" formControlName="team">
                </mat-form-field>
                <mat-error *ngIf="(editForm.controls['team'].hasError('required') && formSubmitted) || 
                        (editForm.get('team').invalid && editForm.get('team').touched)">
                    Enter Team 
                </mat-error>
            </div>
        </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="editForm.invalid"> Update </button>
    </form>

</div>
