<div class="container">
    <h1> Contact Form </h1>
    <hr />

    <form [formGroup]="contactForm" (ngSubmit)="addContact()">
        <div class="row">
            <div class="col-md-5">
                <mat-form-field>
                    <mat-label> ID </mat-label>
                    <input matInput type="number" autocomplete="off" formControlName="id">
                </mat-form-field>
                <mat-error *ngIf="(contactForm.controls['id'].hasError('required') && formSubmitted) || 
                        (contactForm.get('id').invalid && contactForm.get('id').touched)">
                    Enter Id
                </mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <mat-form-field>
                    <mat-label> Name </mat-label>
                    <input matInput type="text" autocomplete="off" formControlName="name">
                </mat-form-field>
                <mat-error *ngIf="(contactForm.controls['name'].hasError('required') && formSubmitted) || 
                        (contactForm.get('name').invalid && contactForm.get('name').touched)">
                    Enter Your Name
                </mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <mat-form-field>
                    <mat-label> Email Addess </mat-label>
                    <input matInput type="email" autocomplete="off" formControlName="emailAddress">
                </mat-form-field>
                <mat-error *ngIf="(contactForm.controls['emailAddress'].hasError('required') && formSubmitted) || 
                        (contactForm.get('emailAddress').invalid && contactForm.get('emailAddress').touched)">
                    Enter a valid eEmail address
                </mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <mat-form-field>
                    <mat-label> Message </mat-label>
                    <input matInput type="email" autocomplete="off" formControlName="message">
                </mat-form-field>
                <mat-error *ngIf="(contactForm.controls['message'].hasError('required') && formSubmitted) || 
                        (contactForm.get('message').invalid && contactForm.get('message').touched)">
                    Enter a valid email address
                </mat-error>
            </div>
        </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid"> Submit </button>
    </form>
</div>