<div class="container">
    <h2> View Teams </h2>
    <hr/>

    <table class="table">
        <thead>
            <tr>
                <th> ID </th>
                <!-- <th> Player Name </th> -->
                <th> Team Name </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let view of teams">
                <td> {{view.id}} </td>
                <!-- <td> {{view.playerName}} </td> -->
                <td> {{view.teamName}} </td>
                <td>
                    <button mat-button color="primary" (click)="editTeam(view.id)">Edit</button>
                    <button mat-button color="warn" (click)="deleteTeams(view.id)">Delete</button>
                </td>
            </tr>
        </tbody>

    </table>
</div>
