<div class="container">
    <h2> Point Table of Series </h2>
    <hr/>
    <table class="table">
           <thead>
            <tr>
                <th> Id </th>
                <th> Teams </th>
                <th> Played </th>
                <th> Won </th>
                <th> Loss </th>
                <th> Points </th>
            </tr>
           </thead>
           <tbody>
            <tr *ngFor="let view of updatePoints">
                <td> {{view.id}} </td>
                <td> {{view.teams}} </td>
                <td> {{view.played}} </td>
                <td> {{view.won}} </td>
                <td> {{view.loss}} </td>
                <td> {{view.points}} </td>
            </tr>
           </tbody>
    </table>

</div>