 <div class="container">
    <h2> Personal Details </h2>
    <hr/>
    
    <table class="table">
        <thead>
            <tr>
                <th> ID </th>
                <th> Name </th>
                <th> Birth Day </th>
                <th> Age </th>
                <th> Team </th>
                <th> Bat Style </th>
                <th> Bowl Style </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of details">
                <td> {{person.id}} </td>
                <td> {{person.name}} </td>
                <td> {{person.birthDay}} </td>
                <td> {{person.age}} </td>
                <td> {{person.team}} </td>
                <td> {{person.batStyle}} </td>
                <td> {{person.bowlStyle}} </td>
                <td>
                    <button mat-button color="primary" (click)="editInfo(person.id)">Edit</button>
                    <button mat-button color="warn" (click)="deleteInfo(person.id)">Delete</button>
                </td>
            </tr>
        </tbody>

    </table>

</div>
