<div class="container">
    <h2>Adding Team</h2>
    <hr />
    
        <form [formGroup]="teamForm" (ngSubmit)="addTeam()">
            <div class="row">
                <div class="col-md-5">
                    <mat-form-field>
                        <mat-label> ID </mat-label>
                        <input matInput type="number" autocomplete="off" formControlName="id">
                    </mat-form-field>
                    <mat-error *ngIf="(teamForm.controls['id'].hasError('required') && formSubmitted) || 
                        (teamForm.get('id').invalid && teamForm.get('id').touched)">
                        Enter ID
                    </mat-error>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-5">
                    <mat-form-field>
                        <mat-label> Team Name </mat-label>
                        <input matInput type="text" autocomplete="off" formControlName="teamName">
                    </mat-form-field>
                    <mat-error *ngIf="(teamForm.controls['teamName'].hasError('required') && formSubmitted) || 
                (teamForm.get('teamName').invalid && teamForm.get('teamName').touched)">
                        Enter Team Name
                    </mat-error>
                </div>
            </div>
            <button mat-raised-button color="primary" type="submit" [disabled]="teamForm.invalid"> Submit </button>
        </form>
</div>